@import "scss/abstract/variables",
        "scss/abstract/mixins",
        "scss/components/buttons",
        "scss/layout/header";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    background-color: rgb(37, 37, 37);
    flex-direction: column;
}

main {
    padding-top: 10vh;
    height: 100%;
}

.image > img {
    width: 50vw;
    border-radius: 50000px;
    border: 2px solid red;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vh;
}

.bloc > img {
    height: 290px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    column-gap: 8px;
    row-gap: 8px;   
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 8px;
    row-gap: 8px; 
}

.bloc {
    border: 2px solid white;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.content {
    @include content;
}

.project > .content {
    @include content;
    height: 600px;
}

.project .content:hover { opacity:1; } 
.project .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
    font-size: 24px;
}

.project .content:hover .text {
    opacity:1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}

.bloc .content:hover { opacity:1; } 
.bloc .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
    font-size: 24px;
}

.bloc .content:hover .text {
    opacity:1;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
}

.project > img {
    width: 100%;
}

.project {
    border: 2px solid white;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.project > .content > .text {
    width: 50vw;
    text-align: center;
    font-size: 48px;
}

.desc > p {
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
}

.desc > p.bis {
    font-size: 24px;
}

@media screen and (max-width: 800px){
    .desc > p {
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
    }
    .desc > p.bis {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px){
    .desc > p {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }
    .desc > p.bis {
        font-size: 12px;
    }
}