.navbar {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar li {
    list-style: none;
}

h1 {
    text-align: center;
    margin-top: 2vh;
}